
.prog{
    background-color: #339147;
}
.box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subm{
    text-shadow: 2px 2px 5px green;
}
  
  input[type="radio"][id^="cb"] {
    display: none;
  }
  
  label.checked-label {
    border: 1px solid white;
    padding: 10px;
    display: grid;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    place-content: center;
    text-align: center;
  }
.hoverEffect  :hover{
    border: 1px black solid;
  }
  
  label.checked-label:before {
    background-color: rgb(199, 6, 6);
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label.checked-label img {
    /* height: 100px; */
    width: 50px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    margin: 0 auto;
  }
  
  :checked + label.checked-label {
    border-color: green;
    background-color: lightgreen;
  }
  
  :checked + label.checked-label:before {
    content: "✓";
    background-color: black;
    transform: scale(1);
  }
  
  :checked + label.checked-label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px blue; */
    z-index: 1;
  }
  /* .new {
    position: relative;
}

.new::before {
    content: "";
    background-image: url(https://www.kotak.com/content/dam/Kotak/herosliderbanner/how-to-save-on-your-home-loan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
} */